.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #1a6abf 0%, #4aa8ff 45%, #88ccff 100%);
  //   cursor: none;
  user-select: none;
}

.scanline {
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.04) 2px,
    rgba(0, 0, 0, 0.04) 4px
  );
  //   pointer-events: none;
  z-index: 500;
}

.title {
  position: absolute;
  top: 20px;
  left: 24px;
  font-family: "Press Start 2P", monospace;
  font-size: 18px;
  color: #ffdd00;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #ff4400;
  z-index: 100;
}

.groundbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #2a5200;
  border-top: 4px solid #3a7700;
  zindex: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: #5aaa00;
  letter-spacing: 3px;

  span {
    opacity: 0.7;
  }
}
