@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes duckFall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(120px) rotate(180deg);
  }
}
@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
